# Make vim the default editor
export EDITOR="vim"

# History
export HISTSIZE=1000000
export HISTFILE=~/.zsh_history
export SAVEHIST=$HISTSIZE
export HISTSIZE=$HISTSIZE
#export HISTDUP=erase
export HISTCONTROL=ignoreboth # consecutive duplicates & commands starting with space are not saved

# when shell stops -> then do
#export setopt appendhistory
#export setopt sharehistory

export append_history inc_append_history share_history # better history
# on exit, history appends rather than overwrites; history is appended as soon as cmds eecuted; history shared across sessions sessions
export setopt auto_menu autocmplete # autocmp first menu match
setopt autocd # type a dir to cd
setopt auto_param_slash # when a dir is completed, add a / instead of a trailing space
setopt no_case_glob no_case_match # make cmp case insensitive 
setopt globdots # include dotfiles
setopt extended_glob # match ~ # ^
setopt interactive_comments # allow comments in the shell
setopt prompt_sp # don't autoclean blanklines




export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r"

export setopt correct # correct

export EXTENDED_HISTORY
export setopt hist_ignore_space
#export setopt hist_ignore_all_dups
#export setopt hist_save_no_dups
#export setopt hist_ignore_dups
#export setopt hist_find_no_dups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
# And include the parameter for ZSH
export HISTORY_IGNORE="(ls|cd|cd -|pwd|exit|date|* --help)"
export HISTTIMEFORMAT="%F %T "        # for e.g. “1999-02-29 23:59:59”

# Force prompt to write history after every command.
# http://superuser.com/questions/20900/bash-history-loss
PROMPT_COMMAND="history -a; $PROMPT_COMMAND"
# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# colored less + termcap vars
export LESS="R --use-color -Dd"
export LESS_TERMCAP_mb="$(printf '%b' '[1;31m')"
export LESS_TERMCAP_md="$(printf '%b' '[1;36m')"
export LESS_TERMCAP_me="$(printf '%b' '[0m')"
export LESS_TERMCAP_so="$(printf '%b' '[01;44;33m')"
export LESS_TERMCAP_se="$(printf '%b' '[0m')"
export LESS_TERMCAP_us="$(printf '%b' '[1;32m')"
export LESS_TERMCAP_ue="$(printf '%b' '[0m')"


# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X -R --use-color -Dd+r -Du+b" # colored manual pages

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Do not auto update brew
export HOMEBREW_NO_AUTO_UPDATE=1
